<?xml version="1.0"?>
<launch>
<!-- Launch file for the joint tester -->
    <param name="robot_description" command="$(find xacro)/xacro --inorder '$(find impedance_test)/urdf/ur3_joint_limited_robot.urdf'"/>

    <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" />
    <!-- <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" output="screen">
        <param name="source_list" type="str" value=""/>
    </node> -->
    <node name="joint_state_publisher_gui" pkg="joint_state_publisher_gui" type="joint_state_publisher_gui" output="screen" />

    <node name="rviz" pkg="rviz" type="rviz" args="-d $(find impedance_test)/rviz/basic_config.rviz" />
</launch>

